<table class='table'>
  <thead>
    <tr>
      <th>アイコン</th>
      <th>名前</th>
      <th>フォロー中</th>
      <th>フォロワー</th>
      <th>♡︎</th>
      <th>ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= user.followings.count %></td>
        <td><%= user.followers.count %></td>
          <% if current_user == user %>
            <td></td>
          <% elsif current_user.following?(user) %>
            <td><%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete %></td>
          <% else %>
            <td><%= link_to "フォロー", user_relationships_path(user.id), method: :post %></td>
          <% end %>
        <td><%= link_to '詳細', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>