<table class='table'>
  <tr>
    <th></th>
    <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no-image-icon.jpg" %></td>
  </tr>
  <tr>
	  <th>名前</th>
	  <td><%= user.name %></td>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>フォロー中</th>
    <td><%= link_to user_followings_path(user) do %>
        <%=  user.followings.count %>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>フォロワー</th>
    <td><%= link_to user_followers_path(user) do %>
        <%=  user.followers.count %>
        <% end %>
    </td>
  </tr>
  </table>
  <div>
  <% if current_user == user %>
    <%= link_to edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog" do %>
    <% end %>
  <% elsif current_user.following?(user) %>
    <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-primary btn-block" %>
  <% else %>
    <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-secondary btn-block" %>
  <% end %>
  </div>