<%= form_with model:item, local:true do |f| %>
  <div class="form-group">
    <%= f.label :image, "商品画像" %>
    <%= f.attachment_field :item_image,  class: "form-control-file item_image"  %></br>
  <div class="form-group">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, class: 'form-control item_name' %>
  </div>
  <div class="form-group">
    <%= f.label :category, "カテゴリー" %></br>
    <%= f.select(:category, ["衣類","ベビーカー・カーシート・抱っこ紐","寝具・インテリア","おむつ・育児用品","食品","玩具・雑貨","マタニティ","ギフト・イベント"], class: 'form-control item_category') %>
  </div>
  <div class="form-group">
    <%= f.label :price, "価格" %>
    <%= f.number_field :price, class: 'form-control item_price' %> 　　　　　　　　　　　　　　　　　　　　　　　円(税込)
  </div>
  <div class="form-group">
    <%= f.label :store, "購入店" %>
    <%= f.text_area :store, class: 'form-control item_store' %>
  </div>
  <div class="field" id="star">
    <%= f.label :evaluation, "星評価　" %>
    <%= f.hidden_field :evaluation, id: :review_star %>
      <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'item[evaluation]',
          half: true,
        });
      </script>
  </div>
  <div class="form-group">
    <%= f.label :opinion, "レビュー"%>
    <%= f.text_area :body, class: 'form-control item_body' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-secondary btn-block' %>
  </div>
<% end %>